<h1>Editing password_category</h1>

<%= render 'form' %>

<%= link_to 'Show', @password_category, :class=>"button tiny"  %>
<%= link_to 'Back', password_category_index_path, :class=>"button tiny"  %>
